@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    
#topper {
    background-image: url(lottery.jpg);
    background-size:cover;
    width:100%;
    height:500px;
    }
   
.bottom-left2 {
    padding:40% 0 0 0;
}
    
#title {
    font-family: 'Anton', Sans-Serif;
    font-size:50px;
    color:#B72828;
    font-weight: 300;   
    }

#body {
    background-color:#D4D9E0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}
    
.article {
    padding:0 0px 20px 20px;
    }    
    
.img-fluid {
    padding:0 0px 20px 20px;   
    }
    
.caption {
    font-size:10px; 
    padding:0 0px 20px 0px; 
    }    
 
#names {
    font-size: 15px;
    background-color:#B72828;
    padding:10px;
    color:#D4D9E0;
}

.subhead {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-size:40px;
    padding:0 0px 20px 20px;
    }    
    
#list {
    padding-left:5px;
    }
    
#pullquote {
    font-size:30px;
    padding:0 25px 60px 20px;
    font-family: 'Anton', Sans-Serif;
    }

#zahava {
        font-size: 20px;
    }
    
#highlight {
        color:#B72828;
        font-weight:bolder;
    }
    
#door {
    width:1550px; 
}

#closing {
    font-style: italic;
    padding:0 0px 20px 20px;
}
    
 .button {
    background-color:#B72828;
    color:snow;
    font-size:25px;
    border:none;
    width:100%;
    align-content: center;
    height:100px;
    padding: 5px;
    border-radius: 30px;
    margin:15px;
    font-family: 'Anton', Sans-Serif;
    }
    
 .button:hover {
    background-color:#FF7B7B;
    } 
    
#graph {
    height:1700px;    
    }
}


@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
    
    .bottom-left2 {
    padding:35% 0 0 0;
    }
    
    #title {
    font-size:60px;
    }
    
    
    .button {
        border-radius: 15px;
    }
  
    .article {
    padding:0 0px 0px 0px;
    }  
    
    .subhead {
        padding:0 0 0 0;
    }
    
    #closing {
    font-style: italic;
    padding:0 0 0 0;
    }
        
    #pullquote {
    font-size:30px;
    padding:0 0 0 0;
    }
    .button {
        margin:0px;
        margin-bottom:15px;
    }
    #graph {
        height:1500px;
    }
    
}


@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
    #title {
    font-size: 75px;
    padding:100px 0 0 0;
    }
    
    .bottom-left2 {
    padding:15% 0 0 0;
    }    
    
    #names {
    font-size: 20px;
    }
    
    #graph {
    height:1500px;    
    }
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
    #names {
    font-size:18px;
    }
    
    #title {
    font-size:60px;
    }
    
    .bottom-left2 {
    padding: 15% 0 0 0;
    }
    #graph {
    height:1229px;    
    }
}  


  


